doctype html
html
  head
    title= title
    meta(name="fragment" content="!")
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js")
    script(src="javascripts/custom.js")
  body(ng-app="example")
    block content
